body {
  font-family: 'Julius Sans One', sans-serif;
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: silver;
  align-items: center;
  align-self: stretch;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  margin: 0px 20px;
}

.title {
  font-size: 25px;
}

.sub-title {
  font-size: 14px;
}

.list-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 15px 10px;
}

.nav-button > a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.nav-button {
  border: 2px solid black;
  padding: 6px 3px;
  border-radius: 30px;
  width: 150px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  background-color: grey;
}

.nav-button:hover > a {
  color: white;
}


.bio {
  margin: 20px 0px 0px 0px;
}

.showreel {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.showreel > iframe {
  border: 0;
}

.showreel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showreel-title {
  margin: 30px 0px;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: bold;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  margin-top: 50px;
}

.video > iframe {
  border: 0;
}

.about-container {
  background-color: gainsboro;
}