body {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: silver;
  align-items: center;
  align-self: stretch;
  height: 6vh;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  margin: 0px 20px;
}

.title {
  font-size: 25px;
}

.sub-title {
  font-size: 14px;
}

.list-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 15px 10px;
}

.nav-button > a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

.nav-button {
  border: 2px solid black;
  padding: 6px 3px;
  border-radius: 30px;
  width: 100px;
  height: 10px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  background-color: grey;
}

.nav-button:hover > a {
  color: white;
}

.bio {
  margin: 20px 0px 0px 0px;
}

.showreel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showreel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94vh;
}

.showreel-title {
  margin: 30px 0px;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: bold;
}

.showreel > video {
  width: 75%;
  max-width: 1920px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background-color: #383838;
}

.project-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: stretch;
  padding: 25px 0px;
}

.project-title {
  text-transform: uppercase;
  color: white;
  font-size: 2vw;
  padding: 25px 0px;
}

.about-container {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  align-self: stretch;
  margin: 0px 0px;
  padding: 20px 0px;
  align-items: center;
}

.about-title {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin: 15px 0px;
  text-transform: uppercase;
}

.about-text {
  font-size: 14px;
  margin: 15px 0px;
}

.about-image {
  width: 200px;
  border-radius: 50%;
  margin: 15px 0px;
}